.staffpicks-container {
  background-color: #fff4f4;
  padding-top: 100px;
  padding-bottom: 200px;
  text-align: center;
}

.staffpicks-container h3 {
  font-size: 30px;
  margin: 5px;
}

.staffpicks-container .bi {
  color: #fdfa66;
  font-size: 30px;
  padding: 5px;
}

.each-slide img {
  margin-top: 20px;
  max-width: 95%;
  max-height: 550px;
}

@media screen and (max-width: 768px) {
  .each-slide img {
    max-height: 475px;
  }
}

@media screen and (max-width: 425px) {
  .each-slide img {
    max-height: 400px;
  }
}
